/**
 * Reset
 */
*,
*:before,
*:after {
	box-sizing: border-box;
}
html {
	font-size: 62.5% !important;
	--active-link-color: blue;
}
html,
body {
	border: 0;
	margin: 0;
	padding: 0;
	-webkit-touch-callout: none;

	height: 100%;

 	/* -webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;*/
	-ms-text-size-adjust: 100%;

	/*letter-spacing: 0.03em;*/
	font-weight: 400;
	font-style: normal;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: "liga" on;

	-ms-overflow-x: hidden;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
	border: 0;
	margin: 0;
	padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	margin: 0;
	padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
	display: block;
}
table {
	border-collapse: separate;
	border-spacing: 0;
}
table caption,
table th,
table td {
	text-align: left;
	vertical-align: middle;
}
ul,
li {
	list-style: none;
}
a img {
	border: 0;
}
a {
	text-decoration: none;
}
:focus {
	outline: 0;
}
.page a.active {
	color: (--active-link-color)!important;
}
